body.sidebar-vibrancy:not(.is-translucent),
body.sidebar-vibrancy:not(.is-translucent) .workspace,
body.sidebar-vibrancy:not(.is-translucent) .workspace-ribbon.mod-left {
	background-color: transparent;
}

body.sidebar-vibrancy:not(.is-translucent) .mod-left-split {
	--background-primary: transparent;
	--background-secondary: transparent;
	--tab-container-background: transparent;
}
